.mainContainer{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 0.5rem;
}

h2{
  margin: 0;
}

.renderTeamsContainer{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  padding: 0;
}

.trashBtn{
  border: 0;
  background-color: #9f0712;
  color: var(--darkText);
  border-radius: 0.5rem;
  padding: 0;
  cursor: pointer;
  height: 30px;
  &&:hover{
    background-color: #fb2c36;
  }
}