.teamPokemonContainer{
  width: 95%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.teamPokemonContainer > img{
  width: 100px;
  height: 100px;
}

.containerInfo1{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.containerInfo1 > p{
  font-size: 1.1rem;
  font-weight: 600;
}

.typesContainer{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-size: 1.5rem;
  background-color: #25292e;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.statsContainer{
  background-color: #25292e;
  border-radius: 0.5rem;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 20px;
  align-content: center;
  column-gap: 20px;
  padding: 0.3rem;
  && > p {
    margin: 0;
  }
}

.btnGroup{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnGroup button{
  border: 0;
  border-radius: 0.5rem;
  color: var(--darkText);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  height: 45px;
}

.dragPokemonButton{
  background-color: #25292e;
  font-size: 1.1rem;
  cursor: pointer;
  &&:active{
    background-color: #4c5661;
  }
}

.deletePokemonButton{
  background-color: #fb2c36;
  font-size: 0.9rem;
  cursor: pointer;
  &&:hover{
    background-color: #ffa2a2;
    color: var(--lightText);
  }
}