.teamsMainContainer{
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  min-height: 500px;
  max-height: 600px;
}

.headerContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  && > button{
    border: 0;
    background-color: #009689;
    color: var(--darkText);
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    align-self: start;
    &&:hover{
      background-color: #02b8a8;
    }
    &&:disabled{
      background-color: #496967;
      color: #55817e;
    }
  }
}

.warn{
  position: absolute;
  bottom: 0;
  right: 15px;
  margin: 0;
  color: #ff2056;
  font-weight: 600;
}

.filterRender{
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;;
}

.formButton{
  border: 0;
  height: 100%;
  border-radius: 0 1rem 1rem 0 ;
  background-color: #fb2c36;
  color: #f2f2f2;
  &&:disabled{
    background-color: #ffa2a2;
  }
}

.teamsFilterInput{
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.typeBtnGroup{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  overflow-x: auto;
  height: 50px;
  scrollbar-color: #9f0712 var(--darkBgColor);
  scrollbar-width: thin;
}

.typeBtnGroup > button {
  border: 0;
  background-color: #25292e;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  &&:active{
    background-color: #01685f;
  }
}

.pokemonList{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #9f0712 var(--darkBgColor);
  scrollbar-width: thin;
}

.pokemonLink{
  position: relative;
  width: 90%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 25px;
  text-decoration: none;
  color: var(--darkText);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s ease, transform 0.2s ease;
  &&:hover{
    background: rgba(0,0,0,0.05);
    transform: translateX(4px);
  }
  && > button {
    background-color: #fb2c36;
    color: var(--darkText);
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    &&:hover{
      background-color: #ffa2a2;
      color: var(--lightText);
    }
  }
}

.loadButton{
  border-radius: 0.5rem;
  border: 0;
  background-color: #009689;
  color: var(--darkText);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  &&:hover{
    background-color: #02b8a8;
  }
}

.teamBuilderMainContainer{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.renderTeamContainer{
  list-style-type: none;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: start;
  overflow-y: auto;
  scrollbar-color: #9f0712 var(--darkBgColor);
  scrollbar-width: thin;
}

@media (prefers-color-scheme: light){
  .pokemonLink{
    color: var(--lightText);
  }

  .pokemonList{
    scrollbar-color: var(--lightBgColor);
  }
}