:root{
  font-family: Arial, Helvetica, sans-serif;
  --darkBgColor: #0f172b;
  --lightBgColor: #e2e8f0;
}

body{
  background-color: var(--darkBgColor);
}

@media (prefers-color-scheme: light){
  body{
    background-color: var(--lightBgColor);
  }
}